@model Moviesite.Models.Movie

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Name == null)
{
    <h2>New Movie</h2>
}
else
{
    <h2>@Model.Name</h2>
}
@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        <label>Price Of Movie</label>
        @Html.TextBoxFor(m => m.PriceOfMovie, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.PriceOfMovie)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>
    <div class="form-group">
        <label>Release Date</label>
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}